<!DOCTYPE html>
<html>
<head>
  <title>services</title>
</head>
<body>
<div class="services">
  <div class="service" id="service1">
    <div class="service-info">
      <div class="service-title">
        Расчетно - кассовое обслуживание
      </div>

      <div class="card-description">
        Открывайте новые счета и создавайте платежи
      </div>
    </div>
    <img _ngcontent-ng-c1337366302="" width="140" height="140" class="card-image" alt="Расчетно - кассовое обслуживание" loading="lazy" fetchpriority="auto" ng-img="true" src="assets/data_front/payment.png">

  </div>

  <div class="service" id="service2">
    <div _ngcontent-ng-c1337366302="" class="service-info">
      <div _ngcontent-ng-c1337366302="" class="service-title">
        Зарплатный<br> проект
      </div>

      <div _ngcontent-ng-c1337366302="" class="service-description">
        Добавляйте сотрудников и совершайте выплаты в удобное для Вас время
      </div>
    </div>
    <img _ngcontent-ng-c1337366302="" width="140" height="140" class="card-image" alt="Зарплатный проект" loading="lazy" fetchpriority="auto" ng-img="true" src="assets/data_front/salary-project.png">
  </div>
</div>
<div class="services-two">
  <div class="service" id="service3">
    <div _ngcontent-ng-c1337366302="" class="service-info">
      <div _ngcontent-ng-c1337366302="" class="service-title">Обмен валют</div>
      <div _ngcontent-ng-c1337366302="" class="service-description">Покупка и продажа валют по<br> индивидуальным курсам</div>
    </div>
    <img _ngcontent-ng-c1337366302="" width="140" height="140" class="card-image" alt="Обмен валют" loading="lazy" fetchpriority="auto" ng-img="true" src="assets/data_front/currency-exchanges.png">
  </div>

  <div class="service" id="service4">
    <div _ngcontent-ng-c1337366302="" class="service-info">
      <div _ngcontent-ng-c1337366302="" class="service-title">Валютный контроль</div>
      <div _ngcontent-ng-c1337366302="" class="service-description">Заключайте контракты и совершайте валютные переводы под нашим контролем</div>
    </div>
    <img _ngcontent-ng-c1337366302="" width="140" height="140" class="card-image" alt="Валютный контроль" loading="lazy" fetchpriority="auto" ng-img="true" src="assets/data_front/currency-control.png">
  </div>
</div>
</body>
</html>
