<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eschata</title>
</head>
<body>
<section class="landing-container landing-slider">
  <picture class="landing-picture">
    <source media="(max-width: 539px)" srcset="assets/data_front/header.webp">
    <source media="(min-width: 540px)" srcset="assets/data_front/header.webp">
    <img src="assets/data_front/header.webp" alt="Image slide">
  </picture>
  <div class="landing-slider-actions">
    <div>
      <h2 class="landing-slider-actions-title">Эсхата Бизнес</h2>
      <h4 class="landing-slider-actions-subtitle">Лучший интернет банк для предпринимателей</h4>
    </div>
    <button data-testid="connect-now" class="btn btn-primary landing-slider-actions-connect">Подключить сейчас</button>
  </div>
</section>
</body>
</html>
