<style type="text/css" id="menu_down">.languages[_ngcontent-ng-c3725234739] {position: absolute;display: none;top: 50px;background-color: #fff;min-width: 165px;width: 100%;left: 0;border-radius: .75rem;box-shadow: 0 6px 24px #00000029;}</style>
<script type="text/javascript">const style_menu_down = ".main[_ngcontent-ng-c3725234739] .icon[_ngcontent-ng-c3725234739] {border-color: #dedfe2;background-color: #efeef9;border-radius: .5rem;cursor: pointer;}.languages[_ngcontent-ng-c3725234739] {position: absolute;display: block;top: 50px;background-color: #fff;min-width: 165px;width: 100%;left: 0;border-radius: .75rem;box-shadow: 0 6px 24px #00000029;}";const style_menu_up = ".languages[_ngcontent-ng-c3725234739] {position: absolute;display: none;top: 50px;background-color: #fff;min-width: 165px;width: 100%;left: 0;border-radius: .75rem;box-shadow: 0 6px 24px #00000029;}";function menu_down() {if (document.getElementById("menu_down").innerHTML === style_menu_up) {document.getElementById("menu_down").innerHTML = style_menu_down} else {document.getElementById("menu_down").innerHTML = style_menu_up}}
</script>
<app-menu-bank></app-menu-bank>

<app-eschat-bank></app-eschat-bank>

<app-cards-bank></app-cards-bank>

<app-services-bank></app-services-bank>

<app-tarifs-bank></app-tarifs-bank>

<app-documents-archives-bank></app-documents-archives-bank>

<app-youtube-video-bank></app-youtube-video-bank>

<app-frequently-tasks-bank></app-frequently-tasks-bank>

<app-footer-bank></app-footer-bank>
