<!DOCTYPE html>
<html>
<head>
  <title>Card</title>
</head>
<body>.
  <div class="cards">
    <div class="card" id="card1">
      <img _ngcontent-ng-c1605982445="" width="140" height="140" class="card-image" alt="Работает на любом устройстве" loading="lazy" fetchpriority="auto" ng-img="true" src="assets/data_front/multi-device.png">
      <br>
      <br>
      <div class="card_title">
        Работает на любом устройстве
      </div>

      <div class="card_description">
        Совершайте платежи 24/7, с любого устройства из любой точки мира!
      </div>
    </div>
    <div class="card" id="card2">
      <img _ngcontent-ng-c1605982445="" width="140" height="140" class="card-image" alt="Удаленное подключение" loading="lazy" fetchpriority="auto" ng-img="true" src="assets/data_front/cloud.png">
      <br>
      <br>
      <div class="card_title">
        Удаленное подключение
      </div>

      <div class="card_description">
        Полный доступ к своим счетам без визита в Банк!
      </div>
    </div>
    <div class="card" id="card3">
      <img _ngcontent-ng-c1605982445="" width="140" height="140" class="card-image" alt="Мульти компания" loading="lazy" fetchpriority="auto" ng-img="true" src="assets/data_front/multi-company.png">
      <br>
      <br>
      <div class="card_title">
        Мульти компания
      </div>

      <div class="card_description">
        Сервис для тех, кто хочет управлять счетами нескольких компаний с одним логином!
      </div>
    </div>
  </div>
</body>
</html>
